
@media screen and (min-width: 1024px) {
  .navbar-end {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}




.margin-mobile {
  margin-top: 3.5rem;
}
.custom-gap {
  gap:1rem;
}
@media screen and (max-width:1024px){
  .custom-gap{
    display: flex;
    gap:1rem;
    flex-direction: column;
  }
  table{
    font-size: 0.6rem;
  }
  .custom-overflow{
    overflow: scroll;
  }
  .custom-buttons {
    display: flex;
flex-direction: row;
justify-content: space-between;
padding-right: 2rem;
padding-left: 2rem;
  }
  .margin-mobile {
    margin-top: 3.2rem;
  }
  .height-size{
    justify-content: flex-start;
margin-right: auto;
align-items: stretch;
display: flex;
color: white;
  }
  .navbar-item {
    flex-grow: 0;
flex-shrink: 0;
color: white;
font-size: 0.5rem;
display: flex;
flex-direction: row;
flex-grow: 0;
align-items: center;
  }
}

@media screen and (max-width: 1024px){
  .mt-6{
    margin-top: 6rem !important
  }
}



@import url('../../node_modules/bulma/css/bulma.min.css')




